<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>

<body>
	<h1 th:text="${title}"></h1>
	<a th:href="@{/product/listar}">Add product</a>
	<div>
		<form th:action="@{/product/form}" method="post" th:object="${product}" enctype="multipart/form-data">
			<div>
				<label for="name">Name</label>
				<div><input type="text" th:field="*{name}" /></div>
				<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
			</div>
			<div>
				<label for="price">Price</label>
				<div><input type="number" th:field="*{price}" /></div>
				<small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
			</div>
			<div>
				<label for="createAt">Create</label>
				<div><input type="date" th:field="*{createAt}" /></div>
			</div>
			<div>
				<label for="category.id">Categoria</label>
				<div>
					<select th:field="*{category.id}" >
						<option value="">--Select Category--</option>
						<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
					</select>
				</div>
				<small th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}"></small>
			</div>
			<div>
				<label for="file">Foto</label>
				<div><input type="file" name="file" /></div>
			</div>
			<div>
				<div><input type="submit" value="Add"></div>
			</div>
		</form>
	</div>
</body>

</html>