<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>

<body>
	<h1 th:text="${title}"></h1>
<a th:href="@{/product/form}">Add product</a>
<div>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Date</th>
				<th>Categoria</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${products} ">
				<td><a th:href="@{/product/ver/}+${product.id}" th:text="${#strings.abbreviate(product.id,10)}"></a></td>
				<td th:text="${product.name}"></td>
				<td th:text="${#numbers.formatCurrency(product.price)}"></td>
				<td th:text="${#calendars.format(product.createAt,'dd/MM/yyyy')}"></td>
				<td th:text="${product.category.name}"></td>
				<td><a th:href="@{/product/form/}+${product.id}">Editar</a></td>
				<td><a th:href="@{/product/eliminar/}+${product.id}">Eliminar</a></td>
		</tbody>
	</table>
</div>
</body>

</html>