<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>

<body>
	<h1 th:text="${title}"></h1>
<a th:href="@{/product/listar}">return</a>
<div>
	<img th:if="${product.photo != null && #strings.length(product.photo)>0}" 
	style="max-width: 25%;"
	th:src="@{/uploads/img/} + ${product.photo}" th:alt="${product.name}" />
</div>
<div>
	<ul>
		<li th:text="'Name '+${product.name}"></li>
		<li th:text="'Price '+${product.price}"></li>
		<li th:text="${product.name}"></li>
		<li th:text="${product.createAt}"></li>
		<li th:text="${product.id}"></li>
	</ul>
</div>
</body>

</html>